.vscode/settings.json
__pycache__/aliens.cpython-38.pyc
__pycache__/constants.cpython-38.pyc
__pycache__/spritesheet.cpython-38.pyc
__pycache__/sslist.cpython-38.pyc
__pycache__/helper.cpython-38.pyc
